body {background: #f5f5f5; margin-top: 40px; font-size: 16px; font-family: 'Ubuntu Mono', monospace;}
h1,h2,h3,h4,h5,h6 {font-family: 'Ubuntu Mono', monospace; }
h4 {border-bottom: 1px solid #ddd;}
h6 {color: #888;}
.header {border-bottom: 2px solid #ddd; text-align: center; color: #fa503a;}
.logo {background-image: url('logo.png'); height: 30px; width: 103px;}
dl dd {margin-bottom: 0.25em; white-space: pre;}
dl dh {font-size: 90%; color: #888;}
.code-column {background-color: #333; color: #fff;}
.code-column h6 {color: #ddd; margin-top: 1em; margin-bottom: 0.1em;}
.code-column h4 {color: #fff;}
 pre{font-family: "Ubuntu Mono", monospace;background-color:#333;padding:10px;font-size:90%;color:#e9e4e5;line-height:1.5em;margin:0.5em 0;border: 0;} 
 pre .pln{color:#e9e4e5;}
 pre .str{color:#bcd42a;}
 pre .kwd{color:#4bb1b1;}
 pre .com{color:#888888;}
 pre .typ{color:#ef7c61;}
 pre .lit{color:#bcd42a;}
 pre .pun, pre .opn, pre .clo{color:#ffffff;}
 pre .tag{color:#4bb1b1;}
 pre .atn{color:#ef7c61;}
 pre .atv{color:#bcd42a;}
 pre .dec, pre .var{color:#660066;}
 pre .fun{color:#ff0000;}
 pre code{font-family: "Ubuntu Mono", monospace;}
 pre.prettyprint { border: 0 ! important; }
