body {background: #333; margin-bottom: 40px; margin-top: 40px; font-size: 16px; font-family: 'Ubuntu Mono', monospace;}
h1,h2,h3,h4,h5,h6 {font-family: 'Ubuntu Mono', monospace; }
.top-bar {background: #333;box-shadow: 0px 1px 2px #fff; margin-bottom: 0;}
.top-bar-section li a:not(.button) { background: #333; }
.top-bar-section li a:not(.button):hover { color: #ddd; }
.top-bar .name h1 a { color: #fa503a; }
.logo {background-image: url('logo.png'); height: 30px; width: 103px; margin-top: 5px;}
.row.full-width { width: 100%; max-width: 100%; }
.code-column {background-color: #333; color: #fff;}
.code-column h6 {color: #ddd; margin:0.2em 0;}
.code-column h4 {color: #fff; margin: 10px 0;}
.code-column h4 a { color: #fff; }
.code-column h4 a:hover { color: #ddd; text-decoration: underline; }


/**
 * This prettyprint code is shamelessly stolen from the one and only @daylerees http://laravel.com/css/style.css
 */
 pre{font-family: "Ubuntu Mono", monospace;background-color:#333;padding:5px;font-size:90%;color:#e9e4e5;line-height:1.5em;margin:0.2em 0;border: 0;} 
 pre .pln{color:#e9e4e5;}
 pre .str{color:#bcd42a;}
 pre .kwd{color:#4bb1b1;}
 pre .com{color:#888888;display:block;}
 pre .com + .pln {white-space: normal;}
 pre .typ{color:#ef7c61;}
 pre .lit{color:#bcd42a;}
 pre .pun, pre .opn, pre .clo{color:#ffffff;}
 pre .tag{color:#4bb1b1;}
 pre .atn{color:#ef7c61;}
 pre .atv{color:#bcd42a;}
 pre .dec, pre .var{color:#660066;}
 pre .fun{color:#ff0000;}
 pre code{font-family: "Ubuntu Mono", monospace;}
 pre.prettyprint { border: 0 ! important; }
